spring:
  datasource:
    url: jdbc:mysql://localhost:3306/warmbite?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    server:
        port: 8080
    servlet:
      context-path: /
